<h1>Tags#edit</h1>
<p>Find me in app/views/tags/edit.html.erb</p>



<%= form_for( @tag ) do |f| %>
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>

    <%= f.submit  %>
<% end %>