<h1>Tags#index</h1>
<p>Find me in app/views/tags/index.html.erb</p>



<% @tags.each do |item| %>
    <p>
        <a href="/tags/<%= item.id %>/edit"><%= item.name %></a>
        <%= link_to 'Delete', tag_path(item), method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %>
    </p>
<% end %>